@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$mainBackground: hsl(212, 45%, 89%);
$wrapperBackground: hsl(0, 0%, 100%);
$heading: hsl(218, 44%, 22%);
$paragraph: hsl(220, 15%, 55%);


body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: 0;
    background-color: $mainBackground;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $wrapperBackground;
    max-width: 320px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 36px 51px -26px rgba(0,0,0,0.20);;
    img {
        margin-top: 15.5px;
        max-width: 288px;
        max-height: 288px;
        border-radius: 15px;
    }
    .text {
        text-align: center;
        max-width: calc(100% - 20%);
        h1 {
            font-weight: 700;
            font-size: 1.5em;
            color: $heading;
        }
        p {
            font-weight: 400;
            color: $paragraph;
        }
    }
    footer {
        display: none;
        background-color: yellowgreen;
        color: red;
        position: fixed;
        bottom: 0;
        &:hover{
            display: block;
        }
    }
}